.confirmationSection{
    display: inline-block;
    width: 100%;
    height: 15%;
    .product{
        display: inline-block;
        margin: 10px 15px 10px ;
        font-weight: 700;
        font-size: 22px;
    }
    .product.name{
        width: 40%;
    }
    .product.count{
        width: 20%;
    }
    .product.total{
        width: 25%;
    }
}