.container {
  .containerBox {
    height: 380px;
    width: 50%;
    margin: 11em 5em;
    position: absolute;
    .chooseContainer {
      scrollbar-width: none;
      overflow: scroll;
      overflow-x: hidden;
      height: 270px;
      background-color: #ece8ff;
      width: 50%;
      border-radius: 1em;
    }
  }
  .sendButton {
    position: fixed;
    padding-top: 5em;
    background-color: #ece8ff;
    color: #707070;
    border: none;
    border-radius: 1em;
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 0.8em;
    padding: 0.2em 1em;
    cursor: pointer;
    transition: ease 0.2s;
  }
  .sendButton:hover {
    background-color: #cccccc;
  }
  .sendButton:active {
    background-color: #959595;
  }
}
