.confirm-page{
    background-color: #bab9bb;
    background-color: #bab9bb;
    position: absolute;
    width: 400px;
    height: 400px;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}