.BillPage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
  
    display: flex;
    justify-content: center;
    align-items: center;
    .Billbox{
        height: 90vh;
        background-color: #ECE8FF;
        border-radius: 1em;
        padding: 20px;
       .ClosePage{
           border-radius: .4em ;
           border: solid;
           border-width: 2px;
           border-h
           border-color:#d2d0d8 ;
           font-size: 25px;
           font-weight: bold;
           justify-content: right;
           cursor: pointer;
       }
    }
}