.BillPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  .Billbox {
    height: 90vh;
    width: 400px;
    background-color: #ece8ff;
    border-radius: 1em;
    padding: 20px;
    color: #424242;
    .bills-section {
      margin: 10px;
      height: 80%;
    }
    .ClosePage {
      color: #8e8d92;
      border-radius: 0.4em;
      border: solid;
      border-width: 2px;
      border-color: #d2d0d8;
      font-size: 25px;
      font-weight: bold;
      justify-content: right;
      cursor: pointer;
    }
    .ClosePage:hover {
      background-color: #b88989;
      color: #3f3e3e;
      border-color: #b88989;
      transition: ease 0.2s;
    }
    .makeNewOrder {
      margin: 0 40px 0px 40px;
      padding: 5px 10px;
      justify-content: center;
      align-items: center;
      background-color: #c9c8ca;
      color: #3f3e3e;
      border: none;
      border-radius: 0.8em;
      font-size: 22px;
      font-weight: 300;
      cursor: pointer;
    }
    .makeNewOrder:hover {
      background-color: #ebeb5c;
      color: #424242;
      border-color: #c3c3c3;
      transition: ease 0.2s;
    }
  }
}
