.container{
    display:flex;
    .hamburguerArea{
        height: 100vh;
        width: 50%;
    }   
    .options{
        width: 50%;
        font-weight: 300;
    }
    .confirm-page{
        width: 100%;
        height: 100%;
        background-color: blue;
    }
}