header{
    background-color: #FF5757;
    display: flex;
    place-content: space-between;
    height: 2em;
    li{
        font-size: 1.25em;
        color: white;
        cursor: pointer;
        list-style-type: none;
        padding: 0 .5em;
        margin-right: 1.2em;
    }
    li:hover{
        font-weight: bold;
    }
    ul{
        display: flex;
        margin: 0;
        margin-top:3px;
    }
    .HamburguerIcon{
        padding: .4em 1em;
        width: 2.5em;
        height: auto;
    }
    //buscar como fazer o icone ficar ajustado no header e ajeitar os botoes que estao sempre 'bold'
    //Icone:video mostra como fazer a div se ajustar a div pai
}