.containerProducts{
    padding: .3em;
    padding-left: 2em;
    display: flex;
    input{
        width: 20px;
        border: none;
    }
    button{
        margin: 0 .2em;
        border:none;
        border-radius: .2em;
        background-color: #CCCCCC;
        cursor: pointer;
    }
    p{
        color: #707070;
    }
    display: none;
}
