.container{
    padding-left: 2em;
    input{
    width: 20px;
    border: none;
    }
    button{
        margin: 0 .2em;
        border:none;
        border-radius: .2em;
        background-color: #CCCCCC;
        cursor: pointer;
    }
    
}
